service:
  name: ${SERVICE_NAME}
  identifier: ${SERVICE_IDENTIFIER}
  description: ${SERVICE_DESCRIPTION}
  tags:
    type: lambda
    managed_by: iacm
    data_pipeline: ${PIPELINE_NAME}
    component: ${COMPONENT_ID}
    aws_function: ${SERVICE_NAME}
  orgIdentifier: ${ORG_IDENTIFIER}
  projectIdentifier: ${PROJECT_IDENTIFIER}
  serviceDefinition:
    type: AwsLambda
    spec:
      manifests:
        - manifest:
            identifier: function_definition
            type: AwsLambdaFunctionDefinition
            spec:
              store:
                type: Inline
                spec:
                  content: |-
                    ${FUNCTION_DEFINITION}
      artifacts:
        primary:
          primaryArtifactRef: lambda_zip
          sources:
            - identifier: lambda_zip
              type: AmazonS3
              spec:
                connectorRef: ${S3_CONNECTOR_REF}
                region: ${AWS_REGION}
                bucketName: ${ARTIFACTS_BUCKET}
                filePath: ${BOOTSTRAP_KEY}
